@page "/kontakt"

<h3>Kontakt</h3>



<div class="col-sm-6">
    <div class="kontaktside__address">
        <ul>
            <li class="kontaktside__address--city">Sorø</li>
            <li>Torvet 4</li>
            <li>4180 Sorø</li>
        </ul>
        <ul class="kontaktside__address--contact">
            <li class="liPhone"><a href="tel:+45 57 86 08 08">+45 57 86 08 08</a></li>
            <li class="liMail"><a href="mailto:mail@advokatgaarden.com">mail@advokatgaarden.com</a></li>
        </ul>
    </div>
</div>

<div class="col-md-6">
    <div class="kontaktside__hours">
        <ul>
            <li class="kontaktside__hours--heading">Åbningstider Sorø</li>
            <li><span>Mandag</span><span>08:00 - 16:00</span></li>
            <li><span>Tirsdag</span><span>08:00 - 16:00</span></li>
            <li><span>Onsdag</span><span>08:00 - 16:00</span></li>
            <li><span>Torsdag</span><span>08:00 - 16:00</span></li>
            <li><span>Fredag</span><span>08:00 - 14:00</span></li>
        </ul>
    </div>
</div>

@code {

}
