<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Testamente</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        @* A button for our "Arv Fordeling" page (Note: needs to be defined as a route via ' @page "/arvFordeling" ' in one of our Razor Pages) *@
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="arvFordeling">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Arv Fordeling
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="arvetræ">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Arvetræ
            </NavLink>
        </div>
    </nav>
</div>

