<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">
            <img src="images/Tree_with_White_BG_image.png" alt="Logo" class="logo" Testamente</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
                </svg> Arvetræ
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kontakt">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" fill="currentColor" class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                    <path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                </svg> Kontakt
            </NavLink>
        </div>

        @* A button for our "Arv Fordeling" page (Note: needs to be defined as a route via ' @page "/arvFordeling" ' in one of our Razor Pages) *@
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="arvFordeling">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Arv Fordeling
            </NavLink>
        </div> *@

        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@

        @* <div class="nav-item px-3">
           <NavLink class="nav-link" href="arvetræ">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Arvetræ
           </NavLink>
          </div> *@
      
        @* <div class="nav-item px-3">
            <NavLink class="nav-link" href="familytree">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Family tree
          </NavLink>
       </div> *@

    </nav>
</div>


